@media (width <= 992px) and (orientation: portrait) {
	.title{
		height: 150px;
	}
	.t_home img{
		height: 150px;
	}
	.t_lang, .t_about{
		display: none;
	}
	#navbar2 li{
		width: 200px;
	}
	#navbar2 li a{
		padding-top: 43.5px;
		padding-bottom: 43.5px;
		font-size: 50px;
	}
	.t_middle{
		width: 67.5%;
		margin-left: 16.75%;
	}
	.block_c{
		display: none;
	}
	.block{
		margin-left: 5%;
		margin-right: 5%;
	}
	.slide h2, .slide p{
		display: none;
	}
	.un_c_txt{
		display: flex;
		float: left;
		width: 100%;
		text-align: center;
	}
	.un_c_txt h2{
		color: #fff;
		font-family: 'Russo One';
		font-size: 80px;
		width: 100%;
	}
	.un_c_txt p{
		margin-top: 0;
		color: #fff;
		font-family: 'Philosopher';
		font-size: 44px;
		width: 100%;
	}
	.info_blocks2{
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		margin-top: 5%;
		margin-bottom: 100px;
	}
	.modal-window{
		height: 60%;
	}
	.mw_ogr{
		height: 80%;
	}
	.modal-window h2{
		font-size: 60px;
	}
	.modal-window p{
		font-size: 50px;
	}
	.w_img img {
    	transition: transform 0.5s;
	}
	.btn-close{
    	top: 5px;
    	right: 5px;
		font-size: 50px;
	}
	.l_ico img{
		width: 100px;
		height: 100px;
	}
	.other p{
		font-size: 25px;
	}
}
@media (width <= 992px) {
	.under, .left, .right{
		display: none;
	}
	.under2{
		display: flex;
		overflow-x: auto;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		width: 90%;
		margin: 100px auto 10px auto;
		height: auto;
		padding: 20px 0;
		box-sizing: border-box;
	}
	.left2{
		flex: 0 0 80%;
		scroll-snap-align: center;
		margin: 0 50px;
		height: auto;
		background-color: rgba(130, 183, 181, 0.5);
		color: white;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	}
	.under2::before{
		content: '';
		flex: 0 0 50px;
	}
	.left2 h2{
		text-align: center;
		font-family: 'Alegreya SC', serif;
		font-size: 30px;
		margin-bottom: 10px;
	}
	.left2 p{
		font-family: 'Caveat', cursive;
		font-size: 25px;
		line-height: 1.5;
	}
}
