@media (width <= 992px) {
	.title{
		height: 150px;
	}
	.t_home img{
		height: 150px;
	}
	.t_lang, .t_about{
		display: none;
	}
	#navbar2 li{
		width: 200px;
	}
	#navbar2 li a{
		padding-top: 43.5px;
		padding-bottom: 43.5px;
		font-size: 50px;
	}
	#navbar2 li a:hover{ background-color: rgba(130, 183, 181, 0.5); transition: background 0.5s ease;}
	#navbar2 ul li { float: none; }
	.t_middle{
		width: 67.5%;
		margin-left: 16.75%;
		background-color: #000;
	}
}
