@media (width < 990px) {
	.title{
		height: 150px;
	}
	.t_home img{
		height: 150px;
	}
	.t_lang, .t_about{
		display: none;
	}
	#navbar2 li{
		width: 200px;
	}
	#navbar2 li a{
		padding-top: 43.5px;
		padding-bottom: 43.5px;
		font-size: 50px;
	}
	.t_middle{
		width: 67.5%;
		margin-left: 16.75%;
		background-color: #000;
	}
}
